pydantic==2.13.2
phonenumbers==9.0.28
pytest==9.0.3
email-validator==2.3.0
fastapi==0.136.0
uvicorn==0.44.0
psycopg2==2.9.11
python_dotenv==1.2.2
httpx==0.28.1
pydantic-settings==2.13.1
python-json-logger==4.1.0
slowapi==0.1.9